<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
        <h1>Shanghai Enters a New Era of Waste Sorting</h1>
        <p>Calls for garbage sorting have brought little progress in China in the past decade.</p>
        <p>but Shanghai is leading a fresh start for the world's second largest waste  producer with its new municipal solid waste (MSW) regime.</p>
        <p>China generaged 210 million tonnes of MSW in 2017,48 million tonnes less than the United States,according to the World Bank's What a Waste database.</p>
        <p>"If we say China is now classifying its waste,then it's Shanghai that is really doing it,"said Chen Liwen,a veteran environmentalist who has workedfor non-govermental organisations devoted to waste classification for the past decade.</p>
        <p>"It's starting late,comparing with the US or Japan,but if it's successful in such a megacity with such a huge population,it will mean a lot for the                world."she said.</p>
        <p>Household waste in the city is now required to be sorted into four categories:wet garbage,dry garbage,recyclable waste and hazardous waste.</p>
        <p>General rubbish bins that had previously taken all types of household waste were removed from buildings.</p>
        <p>Instead,residents were told to visit designated trash collection stations to dispose of different types of waste during designated periods of the dday.</p>
        <p>Companies and organisations flouting the new rules stood to be fined 5,000-50,000 yuan,while individual offenders risked a fine of 50-200 yuan.</p>
        <p>The city's urban management officers will be mainly responsible for identifying those who breach the rules.</p>
        <p>Nearly 14,000 inspections have been carried out around the city and more than 13,000 people have been warned on the issue since the regulations were announced at the beginning of the year,said the municipal government's deputy secretary general Huang Rong at the press conference on Frida.</p>
        <p>Du Huanzheng,director of the Recycling Economy Institute at Tongji University,said waste sorting is crucial for China's recycling industry.</p>
        <p>"Without proper classification,a lot of garbage that can be recycled is burned,and that's a pity,"he said.</p>
        <p>"after being classified,items suitable to be stored and transported can now be recyled."</p>
</div>
<form action="http://localhost:8000/add" method="post">
	用户：<input type="text" name='user'/>
	<br>
	密码：<input type="text" name="password"/>
	<input type="submit" value="submit">
</form>
</body>
</html>